<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.msos.dao.updateArticleMapper">
    <select id="selectUpdateArticle" resultType="UpdateArticle">
        select * from updatearticle
    </select>
    <insert id="insertUpdateArticle" parameterType="UpdateArticle">
        insert into updatearticle(updateArticle_id,article_id,updateArticle_do,updateArticle_time,updateArticle_ip)
        values (#{updateArticle_id},#{article_id},#{updateArticle_do},#{updateArticle_time},#{updateArticle_ip})
    </insert>
</mapper>